* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Jost", sans-serif;
  background-color: #cccccc;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: cadetblue;
  display: flex;
  justify-content: space-around;
  z-index: 1000;
}

.logo {
  padding: 1rem;
}
ul {
  display: flex;
  list-style: none;
}
li {
  padding: 2rem;
}

li a {
  text-decoration: none;
  color: #1f242d;
}

.intro {
  padding-top: 2rem;
  text-align: center;
  max-width: 70%;
  margin: 10rem 0 0 10rem;
  border: 2px solid cadetblue;
  border-radius: 20px;
}

.intro p {
  margin-top: 2rem;
}

.picture {
  display:inline-block;
  border:5px solid rgba(25, 25, 112, 0);
  border-radius: 10px;
  margin: 25px;
}



.back p{
  width:300px; 
  height: 160px;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-style: italic;
  padding: 0 0;
}
.picture img{
  width:350px;
  height:220px;
}
.picture .back{
  display: none;
  padding: 10px;
  background-color:rgba(221, 160, 221, 0);
}

ref h3{
  font-family: oswald;
  font-size: large;
  scale: 2;
}

.ref {
  display: inline-block;
  border: 5px solid rgba(25, 25, 112, 0);
  border-radius: 10px;
  margin: 25px;
  margin-right: 80px;
  float: right;
}

.back p {
  width: 300px;
  height: 160px;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-style: italic;
  padding: 0 0;
}

.ref img {
  width: 350px;
  height: 220px;
}

.ref .back {
  display: none;
  padding: 10px;
  background-color: rgba(221, 160, 221, 0);
}

/*Footer Styles*/
footer {
  text-align: center;
  margin-top: 600px;
}
.footer-content {
  display: grid;
  grid-template-columns: 25% 25% 50%;
}
.links a {
  text-decoration: none;
  color: #1f242d;
}
.links a:hover {
  color: cadetblue;
}

footer p {
  margin-top: 40px;
  margin-bottom: 30px;
}

h2 {
  margin-top: 45px;
}
h3{
  font-family: oswald;
  font-size: large;
  scale: 2;
}


/*slideshow styles */
.slideshow {
  
  margin-bottom: 30px;
  border-color: blue;
  justify-content: center;
  scale: 0.5;
  position: relative;
  overflow: hidden;
  z-index: 900;
}

.slide {
  height: 100%;
  min-width: 100%;
  padding: auto;
  scroll-snap-align: start;
  opacity: 0;
  animation: fade 2s ease-in-out forwards;
}
.slide img {
  border-radius: 5%;
  width: 100%;
  height: auto;
  text-align: center;
}
.slide p {
  text-align: center;
  font-family: "Jost", sans-serif;
  scale: 2;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*About Us*/
.about-us-section{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 100px;
}
.about-us-image{
  padding-left: 50px;
}
.about-us-image img{
  width: 95%;
  height: 100%;
  border-radius: 5px;
}
.about-us-info{
  padding-right: 300px;
}
.our-mission{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  margin-top: 50px;
  margin-bottom: 30px;
}
.our-mission h3{
  text-align: center;
}
.our-mission p{
  text-align: center;
}
.why-choose-us{
  display: grid;
  grid-template-columns: 20% 60% 20%;   
}
.why-choose-us h3{
  text-align: center;
}
.why-choose-us .items{
  display: flex;
}
.why-choose-us p{
  padding-top: 6.5px;
  padding-left: 5px;
}
